<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <arg name="urdf_extras" default="$(find safer_stack)/urdf/vlp16_bumblebee.urdf.xacro"></arg>
    <arg name="robot_namespace" default="/"/>
    <arg name="x" default="14.501486"/>
    <arg name="y" default="-42.408237"/>
    <arg name="z" default="17.819097"/>
    <arg name="yaw" default="90.0"/> -->
    <include file="$(find safer_stack)/launch/spawn/spawn_sdf.launch">
        <arg name="robot_name" value="person_standing" />
        <arg name="x" value="4.0"/>
        <arg name="y" value="6.0"/>
        <arg name="z" value="9.0"/>
        <arg name="roll" value="0.0"/>
        <arg name="pitch" value="0.0"/>
        <arg name="yaw" value="1.92" />
        <arg name="sdf_robot_file" value="$(find safer_stack)/models/person_standing/model.sdf" />
    </include>

</launch>