<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="vlp16">
 <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
 <!-- <vlp16 gpu="false"/> -->
  <VLP-16 parent="support_base" name="velodyne" topic="/lidar/points2" hz="10" samples="440">
    <!-- <origin xyz="0.2206 0.0 0.00635" rpy="0 0 0" /> -->
    <origin xyz="0.0 0.0 2.00635" rpy="0 0 0" />
  </VLP-16>

<material name="black">
    <color rgba="0.0 0.0 1.0 1"/>
  </material>

  <link name="support_base">
    <visual>
      <geometry>
        <cylinder length="2.0" radius="0.06"/>
      </geometry>
      <origin xyz="0.0 0.0 1.00635" rpy="0 0 0" />
      <material name="black"/>
    </visual>
    <!-- <inertial>
      <mass value="0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial> -->
  </link>

  <joint name="base_to_support" type="fixed">
    <parent link="top_plate_link"/>
    <child link="support_base"/>
    <origin xyz="0.0 0.0 0.00635" rpy="0 0 0" />
  </joint>

  <xacro:include filename="$(find pointgrey_camera_description)/urdf/pointgrey_bumblebee2.urdf.xacro" />
  <BB2-08S2C-38 frame="bumblebee2" name="stereo_camera"></BB2-08S2C-38>
  <joint name="support_camera_joint" type="fixed">
    <origin xyz="0.06 0.02 2.00635" rpy="0 0 0" />
    <parent link="support_base"/>
    <child link="bumblebee2"/>
  </joint>

</robot>