<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <node ns="octomap" pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />

        <param name="ground_filter" value="false" />
        
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="base_link" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="5.0" />
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/bumblebee2/points2_filtered_transformed" />
	
	</node>

</launch>