<launch>

    <arg name="tag" default="false"/>

    <include file="$(find safer_stack)/launch/sand_mine.launch"></include>

    <include file="$(find safer_stack)/launch/spawn_husky.launch"></include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find safer_stack)/rviz/viz_all.rviz" output="screen"/>

    <node ns="bumblebee2" pkg="stereo_image_proc" name="stereo_image_proc" type="stereo_image_proc"/>
    
    <node pkg="safer_stack" name="interface" type="interface.py" output="screen"/>
    <group if="$(arg tag)">
        <include file="$(find safer_stack)/launch/spawn_apriltag.launch"></include>
        <node pkg="safer_stack" name="distance_tag" type="distance_tag.py" output="screen"/>
    </group>

    <!-- <node pkg="safer_stack" name="interface" type="interface"/> -->

</launch>